@model PaginationVm<Subject>
@{
    int count = 0;
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Subject List</h5>
    </div>

    <div class="card-body">
        <div class="page-header align-items-center">
            <div class="row align-items-center">
                <div class="col-4">
                    <a asp-action="create" asp-controller="subject">
                        <button class="btn btn-success">Create</button>
                    </a>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-around align-items-center">
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table class="table table-striped mb-0 text-center">
                <thead>
                    <tr>

                        <th>No</th>
                        <th>Name</th>
                        <th>Group name</th>

                        <th></th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@(++count)</td>
                            <td>@item.Name</td>
                            <td>
                                @(item.GroupSubjects.Any() ?
                                    string.Join(", ", item.GroupSubjects.Select(group => group.Group.Name)) :
                                    Html.Raw("<span class=\"text-danger\">empty</span>"))
                            </td>
                            <td>
                                @(DateTime.Now.Subtract(item.CreateDate).Days <= 1 ?
                                    Html.Raw("<span class=\"badge badge-gradient-info\">New</span>") :
                                    Html.Raw(""))
                            </td>
                            <td>
                                <a asp-action="update" asp-controller="subject" asp-route-id="@item.Id"><button type="button" class="btn btn-warning"><i class='fas fa-edit'></i></button></a>
                                <a asp-action="delete" asp-controller="subject" asp-route-id="@item.Id" id="confirm-text" class="btn btn-danger customDeletebtn"><i class='fas fa-trash'></i></a>
                                <a asp-action="detail" asp-controller="subject" asp-route-id="@item.Id"><button type="button" class="btn btn-primary"><i class='fas fa-info'></i></button></a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <div class="pt-5">
                <nav aria-label="Page navigation example ">
                    <ul class="pagination justify-content-center">
                        <ul class="pagination justify-content-center">
                            <li class="page-item @(Model.CurrentPage<=1 ? "disabled" : "active")">
                                <a class="page-link " asp-route-page="@(Model.CurrentPage-1)" asp-action="index" asp-controller="subject">Previous</a>
                            </li>
                            @for (int i = 0; i < Model.TotalPage; i++)
                            {
                                <li class="page-item @(Model.CurrentPage-1==i ? "btn-success active disabled" : "")">
                                    <a class="page-link" asp-route-page="@(i+1)" asp-action="index" asp-controller="subject">@(i + 1)</a>
                                </li>
                            }
                            <li class="page-item @(Model.TotalPage==Model.CurrentPage || Model.CurrentPage==1? "disabled" : "active")">
                                <a class="page-link " asp-route-page="@(Model.CurrentPage+1)" asp-action="index" asp-controller="subject">Next</a>
                            </li>
                        </ul>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

