@using LearningManagementSystem.Domain.Entities;
@using LearningManagementSystem.Domain.Enums;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signinmanager
@{

    var currentUser = await signinmanager.UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>PreSkool Bootstrap Admin Dashboard</title>
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/feather/feather.css">
    <link rel="stylesheet" href="~/assets/plugins/icons/flags/flags.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
  
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a asp-action="index" asp-controller="dashboard" class="logo">
                    <img src="~/assets/img/logo.png" alt="Logo">
                </a>
                <a asp-action ="index" asp-controller="dashboard" class="logo logo-small">
                    <img src="~/assets/img/logo-small.png" alt="Logo" width="30" height="30">
                </a>
            </div>
            <div class="menu-toggle">
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fas fa-bars"></i>
                </a>
            </div>      
            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul class="nav user-menu">
               <li class="nav-item dropdown noti-dropdown me-2">
                    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                        <img src="~/assets/img/icons/header-icon-05.svg" alt="">
                    </a>                  
                </li>
                <li class="nav-item zoom-screen me-2">
                    <a href="#" class="nav-link header-nav-list win-maximize">
                        <img src="~/assets/img/icons/header-icon-04.svg" alt="">
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown has-arrow new-user-menus">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                            <span class="user-img">
                                <img class="rounded-circle" src="~/assets/img/@currentUser.Image" width="31"
                                     alt="@currentUser.Name">
                                <div class="user-text">
                                    <h6>@currentUser.Name</h6>
                                    <p class="text-muted mb-0">Admin</p>
                                </div>
                            </span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="user-header">
                                <div class="avatar avatar-sm">
                                    <img src="~/assets/img/@currentUser.Image" alt="@currentUser.Name"
                                         class="avatar-img rounded-circle">
                                </div>
                                <div class="user-text">
                                    <h6>@currentUser.Name</h6>
                                    <p class="text-muted mb-0">Admin</p>
                                </div>
                            </div>
                            <a class="dropdown-item" href="profile.html">My Profile</a>
                            <a class="dropdown-item" href="inbox.html">Inbox</a>
                            <a class="dropdown-item" asp-action="logout" asp-controller="account" asp-area="">Logout</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main Menu</span>
                        </li>
                        <li class="">
                            <a asp-action="index" asp-controller="dashboard">
                                <i class="feather-grid"></i> <span> Dashboard</span> 
                            </a>                           
                        </li>
                        <li class="menu-title">
                            <span>  Users & Roles</span>
                        </li>
                      
                        <li class="submenu">
                            <a href="#">
                                <i class="fas fa-graduation-cap"></i> <span> Students</span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-action="index" asp-controller="student">Student List</a></li>                               
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-action="index" asp-controller="teacher">Teacher List</a></li>                                     
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="fas fa-user-plus"></i> <span> Registration</span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-action="register" asp-controller="user">Register</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="fas fa-users"></i> <span>Groups</span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-action="index" asp-controller="group" asp-controller="group">Group List</a></li>                            
                            </ul>
                        </li>                       
                        <li class="menu-title">
                            <span>Education</span>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="fas fa-book"></i> <span>Lessons</span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-action="index" asp-controller="lesson">Lesson List</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-action="index" asp-controller="subject">Subject List</a></li>                            
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="	fas fa-door-closed"></i> <span> Rooms</span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-action="index" asp-controller="room">Room List</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">
                            <span>Settings</span>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="fa fa-cogs"></i> <span>Settings</span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-action="index" asp-controller="setting">Settings</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content container-fluid">

                @RenderBody()
            </div>
           
        </div>
    </div>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    @* <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script> *@
    <script src="~/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/assets/plugins/apexchart/chart-data.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/assets/js/Main.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var toggleBtn = document.getElementById("toggle_btn");
            var body = document.body;

            toggleBtn.addEventListener("click", function () {
                body.classList.toggle("mini-sidebar");
            });
        });
       
        document.addEventListener("DOMContentLoaded", function () {
            var body = document.body;
            var sidebar = document.getElementById("sidebar");

            var isMouseOverSidebar = false;

            sidebar.addEventListener("mouseover", function () {
                isMouseOverSidebar = true;
                body.classList.add("expand-menu");
            });

            sidebar.addEventListener("mouseout", function () {
                isMouseOverSidebar = false;
                if (!isMouseOverSidebar) {
                    body.classList.remove("expand-menu");
                }
            });

            body.addEventListener("mouseover", function () {
                if (!isMouseOverSidebar) {
                    body.classList.remove("expand-menu");
                }
            });
        });
        // window.onload = function () {
        //     searchTeachers();
        // };

    </script>
 
</body>
</html>
